In [153]:
import pandas as pb
import matplotlib.pyplot as plt

In [154]:
url = 'https://raw.githubusercontent.com/ivanjrinacio/Mineracao_Unicesumar/main/dados_brutos.csv'

In [155]:
dados_brutos = pb.read_csv(url)
dados_brutos.head(15)

,ID_Aluno,Nome,Nota_Media,Frequencia_Porcentagem,Atividades_Extracurriculares,Absenteismo_Faltas,Programa_de_Apoio,Participacao_Aulas_Porcentagem,Evasao
0,1,Aline Rocha,9.04,88,Sim,3.0,Sim,88,Não
1,2,Luiza Moreira,8.15,99,Sim,4.0,Sim,96,Não
2,3,Fábio Miranda,6.39,53,NaN,17.0,Sim,51,Sim
3,4,Rafaela Pinto,NaN,60,Não,26.0,Sim,47,Sim
4,5,Beatriz Cunha,6.98,70,Não,20.0,Não,51,Sim
5,6,Miguel Cavalcanti,7.52,95,Não,1.0,Não,87,NaN
6,7,Laura Araújo,4.51,66,Sim,22.0,Sim,54,Sim
7,8,Daniela Rodrigues,8.21,88,Sim,3.0,Sim,92,Não
8,9,Giovana Correia,7.35,87,Não,3.0,Sim,95,Não
9,9,Giovana Correia,7.35,87,Não,3.0,Sim,95,Não
10,10,NaN,8.41,91,Não,3.0,Sim,85,Não
11,10,NaN,8.41,91,Não,3.0,Sim,85,Não
12,11,Thiago Monteiro,9.80,99,Sim,2.0,Sim,84,Não
13,12,Felipe Araújo,7.09,97,Não,1.0,Não,88,Não
14,13,Ana Borges,8.46,91,Não,3.0,Não,99,Não

In [156]:
df = pb.DataFrame(dados_brutos)
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_Aluno                        154 non-null    int64
 1   Nome                            151 non-null    object
 2   Nota_Media                      151 non-null    float64
 3   Frequencia_Porcentagem          154 non-null    int64
 4   Atividades_Extracurriculares    151 non-null    object
 5   Absenteismo_Faltas              152 non-null    float64
 6   Programa_de_Apoio               153 non-null    object
 7   Participacao_Aulas_Porcentagem  154 non-null    int64
 8   Evasao                          152 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 11.0+ KB

ID_Aluno                          0
Nome                              3
Nota_Media                        3
Frequencia_Porcentagem            0
Atividades_Extracurriculares      3
Absenteismo_Faltas                2
Programa_de_Apoio                 1
Participacao_Aulas_Porcentagem    0
Evasao                            2
dtype: int64

In [157]:
df_sem_null = df.dropna()
df_sem_null.info()
df_sem_null.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 0 to 153
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_Aluno                        141 non-null    int64
 1   Nome                            141 non-null    object
 2   Nota_Media                      141 non-null    float64
 3   Frequencia_Porcentagem          141 non-null    int64
 4   Atividades_Extracurriculares    141 non-null    object
 5   Absenteismo_Faltas              141 non-null    float64
 6   Programa_de_Apoio               141 non-null    object
 7   Participacao_Aulas_Porcentagem  141 non-null    int64
 8   Evasao                          141 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 11.0+ KB

ID_Aluno                          0
Nome                              0
Nota_Media                        0
Frequencia_Porcentagem            0
Atividades_Extracurriculares      0
Absenteismo_Faltas                0
Programa_de_Apoio                 0
Participacao_Aulas_Porcentagem    0
Evasao                            0
dtype: int64

In [158]:
print("\nVerificando se há duplicatas:")
print(df_sem_null.duplicated(subset='Nome').sum())
df_sem_duplicatas = df_sem_null.drop_duplicates(subset='Nome', keep='first')
print("Forma do DataFrame original (sem nulos):", df_sem_null.shape)
print("Forma do DataFrame sem duplicatas:", df_sem_duplicatas.shape)
print("\nVerificando se ainda há duplicatas:")
print(df_sem_duplicatas.duplicated(subset='Nome').sum())

Verificando se há duplicatas:
5
Forma do DataFrame original (sem nulos): (141, 9)
Forma do DataFrame sem duplicatas: (136, 9)

Verificando se ainda há duplicatas:
0

In [159]:
df_limpo = df_sem_duplicatas
df_limpo.info()
df_limpo.head(15)

<class 'pandas.core.frame.DataFrame'>
Index: 136 entries, 0 to 153
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_Aluno                        136 non-null    int64
 1   Nome                            136 non-null    object
 2   Nota_Media                      136 non-null    float64
 3   Frequencia_Porcentagem          136 non-null    int64
 4   Atividades_Extracurriculares    136 non-null    object
 5   Absenteismo_Faltas              136 non-null    float64
 6   Programa_de_Apoio               136 non-null    object
 7   Participacao_Aulas_Porcentagem  136 non-null    int64
 8   Evasao                          136 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 10.6+ KB

,ID_Aluno,Nome,Nota_Media,Frequencia_Porcentagem,Atividades_Extracurriculares,Absenteismo_Faltas,Programa_de_Apoio,Participacao_Aulas_Porcentagem,Evasao
0,1,Aline Rocha,9.04,88,Sim,3.0,Sim,88,Não
1,2,Luiza Moreira,8.15,99,Sim,4.0,Sim,96,Não
4,5,Beatriz Cunha,6.98,70,Não,20.0,Não,51,Sim
6,7,Laura Araújo,4.51,66,Sim,22.0,Sim,54,Sim
7,8,Daniela Rodrigues,8.21,88,Sim,3.0,Sim,92,Não
8,9,Giovana Correia,7.35,87,Não,3.0,Sim,95,Não
12,11,Thiago Monteiro,9.80,99,Sim,2.0,Sim,84,Não
13,12,Felipe Araújo,7.09,97,Não,1.0,Não,88,Não
14,13,Ana Borges,8.46,91,Não,3.0,Não,99,Não
15,14,Beatriz Moreira,9.58,95,Não,1.0,Sim,89,Não
16,15,Otávio Miranda,8.57,91,Sim,4.0,Sim,80,Não
17,16,Laura Oliveira,7.14,90,Sim,1.0,Não,92,Não
18,17,Camila Castro,9.91,97,Sim,0.0,Sim,96,Não
19,18,Yasmin Sousa,7.67,90,Sim,1.0,Não,97,Não
20,19,Alexandre Teixeira,9.42,90,Sim,4.0,Não,89,Não

In [ ]:
df_limpo.to_csv('dados_limpos.csv', index=False)

In [160]:
df_limpo = df_sem_duplicatas.copy()
df_limpo['Evasao'] = df_limpo['Evasao'].map({'Sim': 1, 'Não': 0})
df_limpo['Atividades_Extracurriculares'] = df_limpo['Atividades_Extracurriculares'].map({'Sim': 1, 'Não': 0})
df_limpo['Programa_de_Apoio'] = df_limpo['Programa_de_Apoio'].map({'Sim': 1, 'Não': 0})
df_limpo.head(15)

,ID_Aluno,Nome,Nota_Media,Frequencia_Porcentagem,Atividades_Extracurriculares,Absenteismo_Faltas,Programa_de_Apoio,Participacao_Aulas_Porcentagem,Evasao
0,1,Aline Rocha,9.04,88,1,3.0,1,88,0
1,2,Luiza Moreira,8.15,99,1,4.0,1,96,0
4,5,Beatriz Cunha,6.98,70,0,20.0,0,51,1
6,7,Laura Araújo,4.51,66,1,22.0,1,54,1
7,8,Daniela Rodrigues,8.21,88,1,3.0,1,92,0
8,9,Giovana Correia,7.35,87,0,3.0,1,95,0
12,11,Thiago Monteiro,9.80,99,1,2.0,1,84,0
13,12,Felipe Araújo,7.09,97,0,1.0,0,88,0
14,13,Ana Borges,8.46,91,0,3.0,0,99,0
15,14,Beatriz Moreira,9.58,95,0,1.0,1,89,0
16,15,Otávio Miranda,8.57,91,1,4.0,1,80,0
17,16,Laura Oliveira,7.14,90,1,1.0,0,92,0
18,17,Camila Castro,9.91,97,1,0.0,1,96,0
19,18,Yasmin Sousa,7.67,90,1,1.0,0,97,0
20,19,Alexandre Teixeira,9.42,90,1,4.0,0,89,0

In [166]:
from sklearn.preprocessing import MinMaxScaler

colunas_numericas = ['Nota_Media', 'Frequencia_Porcentagem', 'Absenteismo_Faltas', 'Participacao_Aulas_Porcentagem'] 
scaler = MinMaxScaler()
df_limpo[colunas_numericas] = scaler.fit_transform(df_limpo[colunas_numericas])

df_limpo.head(15)

,ID_Aluno,Nome,Nota_Media,Frequencia_Porcentagem,Atividades_Extracurriculares,Absenteismo_Faltas,Programa_de_Apoio,Participacao_Aulas_Porcentagem,Evasao
0,1,Aline Rocha,0.865889,0.775510,1,0.103448,1,0.813559,0
1,2,Luiza Moreira,0.736152,1.000000,1,0.137931,1,0.949153,0
4,5,Beatriz Cunha,0.565598,0.408163,0,0.689655,0,0.186441,1
6,7,Laura Araújo,0.205539,0.326531,1,0.758621,1,0.237288,1
7,8,Daniela Rodrigues,0.744898,0.775510,1,0.103448,1,0.881356,0
8,9,Giovana Correia,0.619534,0.755102,0,0.103448,1,0.932203,0
12,11,Thiago Monteiro,0.976676,1.000000,1,0.068966,1,0.745763,0
13,12,Felipe Araújo,0.581633,0.959184,0,0.034483,0,0.813559,0
14,13,Ana Borges,0.781341,0.836735,0,0.103448,0,1.000000,0
15,14,Beatriz Moreira,0.944606,0.918367,0,0.034483,1,0.830508,0
16,15,Otávio Miranda,0.797376,0.836735,1,0.137931,1,0.677966,0
17,16,Laura Oliveira,0.588921,0.816327,1,0.034483,0,0.881356,0
18,17,Camila Castro,0.992711,0.959184,1,0.000000,1,0.949153,0
19,18,Yasmin Sousa,0.666181,0.816327,1,0.034483,0,0.966102,0
20,19,Alexandre Teixeira,0.921283,0.816327,1,0.137931,0,0.830508,0

In [ ]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

colunas_para_converter = ['Nota_Media', 'Frequencia_Porcentagem', 'Absenteismo_Faltas', 'Participacao_Aulas_Porcentagem']

for col in colunas_para_converter:
    df_limpo.loc[:, col] = pb.to_numeric(df_limpo[col], errors='coerce')

colunas_para_agrupar = ['Nota_Media', 'Frequencia_Porcentagem', 'Absenteismo_Faltas', 'Participacao_Aulas_Porcentagem']

X = df_limpo[colunas_para_agrupar]

kmeans = KMeans(n_clusters=3, random_state=42)
df_limpo['cluster_risco'] = kmeans.fit_predict(X)

print(df_limpo.groupby('cluster_risco').mean(numeric_only=True))

                ID_Aluno  Nota_Media  Frequencia_Porcentagem  \
cluster_risco
0              74.410000    0.784504                0.850000
1              88.714286    0.144107                0.281341
2              74.363636    0.375696                0.253247

               Atividades_Extracurriculares  Absenteismo_Faltas  \
cluster_risco
0                                  0.680000            0.066897
1                                  0.214286            0.497537
2                                  0.227273            0.675549

               Programa_de_Apoio  Participacao_Aulas_Porcentagem  Evasao
cluster_risco
0                       0.290000                        0.848814     0.0
1                       0.500000                        0.130751     1.0
2                       0.681818                        0.244222     1.0

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = df_limpo.drop(['ID_Aluno', 'Nome', 'Evasao'], axis=1)
y = df_limpo['Evasao']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

tree_model = DecisionTreeClassifier(random_state=42)
tree_model.fit(X_train, y_train)

y_pred = tree_model.predict(X_test)
print(f"Acurácia do modelo: {accuracy_score(y_test, y_pred):.2f}")

Acurácia do modelo: 1.00

In [181]:
X = df_limpo.drop(['ID_Aluno', 'Nome', 'Evasao', 'cluster_risco'], axis=1)
y = df_limpo['Evasao']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

tree_model = DecisionTreeClassifier(random_state=42)
tree_model.fit(X_train, y_train)

probabilidades_evasao = tree_model.predict_proba(X)[:, 1]

df_limpo['Score_Risco_Evasao'] = probabilidades_evasao * 100

print("Alunos com maior risco de evasão:")
print(df_limpo.sort_values(by='Score_Risco_Evasao', ascending=False).head(15))

Alunos com maior risco de evasão:
     ID_Aluno              Nome  Nota_Media  Frequencia_Porcentagem  \
6           7      Laura Araújo    0.205539                0.326531
4           5     Beatriz Cunha    0.565598                0.408163
34         33  Rafaela Monteiro    0.513120                0.040816
35         34     Rodrigo Cunha    0.516035                0.142857
39         38     Renato Santos    0.147230                0.551020
33         32    Rafaela Farias    0.231778                0.224490
38         37     Isabela Lopes    0.546647                0.510204
30         29     Sofia Machado    0.342566                0.040816
118       117      Arthur Cunha    0.053936                0.408163
145       142   Patrícia Castro    0.546647                0.000000
123       121   Alexandre Souza    0.059767                0.081633
126       124        Bruno Lima    0.346939                0.204082
133       131  Leonardo Correia    0.412536                0.142857
128       126      Lucas Mendes    0.409621                0.326531
81         80     Bruno Moreira    0.147230                0.102041

     Atividades_Extracurriculares  Absenteismo_Faltas  Programa_de_Apoio  \
6                               1            0.758621                  1
4                               0            0.689655                  0
34                              0            0.793103                  1
35                              0            0.379310                  1
39                              0            0.379310                  1
33                              0            0.689655                  0
38                              0            0.344828                  1
30                              0            0.448276                  0
118                             0            0.448276                  0
145                             1            0.827586                  1
123                             0            0.586207                  0
126                             0            0.689655                  1
133                             0            0.551724                  0
128                             0            0.827586                  0
81                              0            0.344828                  1

     Participacao_Aulas_Porcentagem  Evasao  cluster_risco  Score_Risco_Evasao
6                          0.237288       1              2               100.0
4                          0.186441       1              2               100.0
34                         0.152542       1              2               100.0
35                         0.322034       1              2               100.0
39                         0.118644       1              1               100.0
33                         0.135593       1              2               100.0
38                         0.338983       1              2               100.0
30                         0.000000       1              1               100.0
118                        0.305085       1              1               100.0
145                        0.491525       1              2               100.0
123                        0.067797       1              1               100.0
126                        0.101695       1              2               100.0
133                        0.305085       1              2               100.0
128                        0.220339       1              2               100.0
81                         0.033898       1              1               100.0